.footer {
  background: #203a43;
  color: white;
  text-align: center;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  margin-bottom: 0;
}

.links a {
  margin-left: 1rem;
  color: #00ffff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
